body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column;
}

#book-container {
  width: 60%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.layout1 {
  font-size: 18px;
  line-height: 1.6;
  background-color: red;
}

.layout2 {
  /* display: flex; */
  justify-content: space-between;
  text-align: left;
  background-color: green;
}

.layout2 img {
  max-width: 40%;
  border-radius: 5px;
}

.layout3 {
  column-count: 2;
  column-gap: 20px;
  background-color: yellow;
}
