body {
  font-family: Roboto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #c2e5ef;
  /* flex-direction: column; */
  margin: 0;
}

#book-container {
  width: 90%;
  background: white;
  padding: 20px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 5%; */
  /* height: 1000px; */
}

#book-title-container {
  /* background-color: goldenrod; */
  padding-top: 0px;
  margin-top: 0px;
}
#book-title {
  color: white;
  background-color: #3c96d2;
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 0;
  /* text-align: right; */
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 3px;
  /* border-top: 30px; */
  position: relative;
  bottom: 20px;
  font-size: 1.5em;
}

.caratula-container {
  /* background-color: black; */
  height: 100%;
  width: 100%;
  position: relative;
}
.caratula {
  content: url("images/caratula.jpeg");
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; */
  /* position: relative; */
}

.button-caratula-container {
  position: absolute;
  /* position: fixed; */
  bottom: 0%;
  left: 10%;
  /* margin-left: 250px; */
  /* margin-bottom: 100px; */
  width: 300px;
  height: 10%;
  /* background-color: black; */
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav-buttons {
  color: white;
  background-color: #3c96d2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
}

#comenzar-button {
  width: 100%;
  height: 100%;
  font-size: xx-large;
  padding: 0;
  border: 0;
  margin-left: 0px;
}

.jump-buttons {
  color: white;
  background-color: #1d3e8b;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: large;
  border-radius: 20px;
  border: none;
  width: 120px;
  height: 40px;
}

#home-button {
  width: 40px;
  font-size: large;
}
#menu-header {
  display: flex;
}
#menu-buttons {
  /* background-color: greenyellow; */
  text-align: left;
  width: 70%;
  /* background-color: aqua; */
}
#menu-image-container {
  text-align: right;
  /* background-color: black; */
  width: 30%;
}

#adv-buttons {
  text-align: right;
}

.titles {
  text-align: left;
  color: #3c96d2;
}

.text {
  text-align: justify;
}
.Blayout {
  /* font-size: 20px; */
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* background-color: red; */
  /* border: 1px solid green; */
}

.Blayout #Blayout-container {
  /* border: 1px solid black; */
  height: 100%;
}
.Blayout #Btitle {
  /* border: 1px solid red; */
  margin: 0;
}

.Blayout #Blayout-container #Btext-container {
  margin-top: 10px;
  /* border: 1px solid blue; */
  margin: 0;
  height: 90%;
  position: relative;
}

.Blayout #Blayout-container #Btext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Clayout {
  /* display: flex; */
  /* justify-content: space-between; */
  line-height: 1.6;
  text-align: left;
  padding: 30px;
  height: 40em;
  /* background-color: green; */
  /* border: 1px solid palegreen; */
}

.Clayout #Clayout-container {
  height: 100%;
  /* border: 1px green solid; */
}

/* .Clayout h1 {
  text-align: left;
  color: #3c96d2;
} */
.Clayout #Clayout-container #Ctitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 20%;
}
.Clayout #Cindex-buttons {
  column-count: 2;
  column-gap: 20px;
  /* border: 1px solid seagreen; */
  height: 80%;
  position: relative;
}

.Clayout .button-index-container {
  /* background-color: red; */
  /* width:70%; */
  padding: 3px;
}

.Dlayout {
  /* border: 3px solid green; */
  padding: 30px;
  /* margin: 30px; */
  line-height: 1.6;
  height: 40em;
}
.Dlayout h1 {
  /* text-align: left;
  color: #3c96d2; */
  /* border: 2px solid red; */
  margin: 0;
  height: 10%;
}

.Dlayout #Dlayout-container {
  /* background-color: yellow; */
  display: flex;
  height: 90%;
  /* border: 3px solid blue; */
}
.Dlayout #Dlayout-container #Dbutton {
  /* background-color: black; */
  /* border: 1px solid red; */
  width: 5%;
  height: 100%;
  /* border: 3px solid green; */
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container {
  /* border-radius: 20px; */
  height: 100%;
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container #modal-container0 {
  /* border: 1px solid black; */
  height: 10%;
  width: 100%;
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container #modal-container1 {
  /* background-color: #1d3e8b; */
  /* border: 1px solid black; */
  height: 90%;
  width: 100%;
  margin: 0;
  /* border-radius: 20px; */
}

.Dlayout #Dbutton .open-button0 {
  background-color: #1d3e8b;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  border: none;
  color: white;
}
.Dlayout #Dlayout-container #Dbutton .open-button1 {
  background-color: #3c96d2;
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 20px;
  color: white;
}

.Dlayout #Dtext {
  /* background-color: purple; */
  width: 55%;
  padding: 1%;
  /* text-align: justify; */
}

.Dlayout #Dimage-container {
  background-color: #3c96d2;
  width: 40%;
  padding: 10px;
}

.Dlayout #Dimage-container #Dimage {
  /* content: url(images/layOutD.jpg); */
  height: 100%;
  width: 100%;
}

.Elayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
}

.Elayout #Elayout-container {
  display: flex;
  height: 100%;
}

.Elayout #Eimage-container {
  width: 70%;
}
.Elayout #Eimage-container #Eimage {
  width: 100%;
  height: 100%;
}
.Elayout #Elayout-container #index-button-container {
  /* background-color: red; */
  width: 30%;
  height: 100%;
  /* text-align: center; */
  /* margin: 10%;  */
  /* margin-top: 10%; */
  /* border: 3px solid black; */
  position: relative;
}

.Elayout #Elayout-container #index-button-container #index-buttons {
  /* background-color: red; */
  width: 100%;
  /* height: 100%; */
  /* text-align: center; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* padding: 10%; */
  /* border: 3px solid green; */
}

.Elayout
  #Elayout-container
  #index-button-container
  #index-buttons
  .button-index-container {
  /* background-color: green; */
  padding: 4px;
  /* width: 50%; */
  /* height: 100%; */
  /* padding: 10%; */
}

.Elayout
  #Elayout-container
  #index-button-container
  #index-buttons
  .jump-buttons {
  width: 50%;
}

.Flayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid gray; */
}

.Flayout #Flayout-container {
  display: flex;
  /* border: 1px solid green; */
  height: 100%;
}

.Flayout #Flayout-container #Fcolumn1 {
  width: 60%;
  /* border: 1px solid red; */
  padding: 30px;
}

.Flayout #Flayout-container #Fcolumn1 #act-inicio-img {
  /* width: 60%; */
  /* border: 1px solid red; */
  height: 10%;
  width: 80%;
}

.Flayout #Flayout-container #Fcolumn2 {
  width: 40%;
  /* border: 1px solid blue; */
}

.Flayout #Flayout-container #Fcolumn2 #Flayout-img {
  width: 80%;
  height: 70%;
}

.Flayout #Flayout-container #Fcolumn2 #Fdownload-button {
  margin-top: 40px;
  width: 80%;
  /* height: 70%; */
}

.Glayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 2px solid orchid; */
}

.Glayout #Glayout-container {
  height: 100%;
  /* border: 2px solid greenyellow; */
  /* padding: 30px; */
}

.Glayout #Glayout-container #Grow1 {
  /* border: 2px solid black; */
  width: 100%;
  height: 50%;
  /* padding: 20px; */
}
.Glayout #Glayout-container #Grow2 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 10%;
  /* margin: 0; */
  /* padding: 20px; */
}

.Glayout #Glayout-container #Grow3 {
  /* border: 2px solid green; */
  width: 100%;
  height: 40%;
  display: flex;
}

.Glayout #Grow3 #Gmodal-container {
  width: 40%;
  /* border: 5px solid orange; */
  /* height: 100%; */
}

.Glayout #Grow3 #Gnext-modal {
  width: 60%;
  /* border: 5px solid pink; */
}

.Glayout #Grow3 #Gmodal-container #modal-container0 .open-button0 {
  background-color: #1d3e8b;
  color: white;
  width: 50%;
  height: 10em;
  border-radius: 10px;
}

.Hlayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid palevioletred; */
}

.Hlayout #Hlayout-container {
  height: 100%;
  /* border: 1px solid gray; */
  width: 100%;
}

.Hlayout #Hlayout-container #Hrow1 {
  /* border: 1px solid green; */
  height: 50%;
}

.Hlayout #Hlayout-container #Hrow2 {
  /* border: 1px solid green; */
  height: 50%;
}
.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1,
#Hmodals-container2 {
  /* border: 1px solid pink; */
  text-align: center;
  /* padding-left: 25%; */
  padding-right: auto;
  display: flex;
  justify-content: center;
  height: 40%;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 #modal-container0,
#modal-container1,
#modal-container2,
#modal-container3,
#modal-container4 {
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}

.Hlayout #Hlayout-container #Hmodals-container2 #modal-container5,
#modal-container6,
#modal-container7,
#modal-container8,
#modal-container9 {
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}

/* .Hlayout
  #Hlayout-container
  #Hrow1
  #Hmodals-container1
  #modal-container0
  .open-button0 {
  
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 100%;
} */

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button0,
.open-button1,
.open-button2,
.open-button3,
.open-button4 {
  background-color: #1d3e8b;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.Hlayout #Hlayout-container #Hmodals-container2 .open-button5,
.open-button6,
.open-button7,
.open-button8,
.open-button9 {
  background-color: #1d3e8b;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.Ilayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid violet; */
}

.Ilayout #Ilayout-container {
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
}

.Ilayout #Ilayout-container #Icolumn1 {
  width: 50%;
  /* border: 1px solid blue; */
  padding-left: 1%;
  padding-right: 1%;
}

.Ilayout #Ilayout-container #Icolumn2 {
  width: 25%;
  /* border: 1px solid yellowgreen; */
}

.Ilayout #Ilayout-container #Icolumn2-image-container {
  /* width: 100%; */
  height: 60%;
  margin: 5%;
  margin-top: 20%;
}

.Ilayout #Ilayout-container #Icolumn2-image-container #Iimage-column2 {
  width: 100%;
  height: 100%;
}

.Ilayout #Ilayout-container #Icolumn2 #Idownload-button {
  margin-top: 40px;
  width: 80%;
  /* height: 70%; */
}

.Ilayout #Ilayout-container #Icolumn3 {
  width: 25%;
  /* border: 1px solid pink; */
}

.Ilayout #Ilayout-container #Icolumn3-image-container {
  /* width: 100%; */
  height: 80%;
  margin: 5%;
  margin-top: 20%;
}

.Ilayout #Ilayout-container #Icolumn3-image-container #Iimage-column3 {
  width: 100%;
  height: 100%;
}

.Jlayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid violet; */
}

.Jlayout #Jlayout-container {
  /* border: 2px solid green; */
  height: 100%;
}

.Jlayout #Jtitle {
  /* border: 1px solid black; */
  height: 15%;
  margin: 0;
}

.Jlayout #Jcarousel-container {
  /* border: 1px solid black; */
  height: 85%;
}
.Jlayout #Jcarousel-container #Jimage {
  /* border: 1px solid black; */
  height: 80%;
  margin: 20px;
}

.Klayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid violet; */
}

.Klayout #Klayout-container {
  height: 100%;
  /* border: 1px solid green; */
}
.Klayout #Klayout-container #Ktitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 10%;
}
.Klayout #Klayout-container #Ktext-container1,
#Ktext-container2 {
  margin-top: 10px;
  /* border: 1px solid blue; */
  margin: 0;
  height: 30%;
  position: relative;
}

.Klayout #Klayout-container #Ktext1,
#Ktext2 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Klayout #Klayout-container #Ktext1 {
  background-color: #3c96d2;
  color: white;
}
.Klayout #Klayout-container #Kimage-container {
  /* border: 1px solid blue; */
  height: 30%;
  /* padding: 20px; */
}

.Klayout #Klayout-container #Kimage-container #Kbanner {
  height: 100%;
  width: 100%;
}

.Llayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid violet; */
}

.Llayout #Llayout-container {
  height: 100%;
  /* border: 1px solid green; */
}

.Llayout #Llayout-container #Ltitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 10%;
}

.Llayout #Llayout-container #Ltext-container {
  margin-top: 10px;
  /* border: 1px solid blue; */
  margin: 0;
  height: 70%;
  position: relative;
}

.Llayout #Llayout-container #Ltext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Llayout #Llayout-container #Lmodals-container {
  /* border: 1px solid pink; */
  text-align: center;
  /* padding-left: 25%; */
  padding-right: auto;
  display: flex;
  justify-content: center;
  height: 20%;
}

.Llayout #Llayout-container #Lmodals-container #modal-container0,
#modal-container1,
#modal-container2,
#modal-container3,
#modal-container4 {
  /* width: 15%; */
  /* border: 1px solid black; */
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}

.Llayout #Llayout-container #Lmodals-container .open-button0,
.open-button1,
.open-button2,
.open-button3,
.open-button4 {
  background-color: #1d3e8b;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.Mlayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px §solid violet; */
}

.Mlayout #Mlayout-container {
  height: 100%;
  /* border: 1px solid green; */
}

.Mlayout #Mlayout-container #Mtitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 10%;
}

.Mlayout #Mlayout-container #Mtext-container {
  margin-top: 10px;
  /* border: 1px solid blue; */
  margin: 0;
  height: 30%;
  position: relative;
}

.Mlayout #Mlayout-container #Mtext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Mlayout #Mcarousel-container {
  /* border: 1px solid black; */
  height: 60%;
}
.Mlayout #Mcarousel-container #Mimage {
  /* border: 1px solid black; */
  height: 100%;
  /* margin: 20px; */
}

.Nlayout {
  padding: 30px;
  line-height: 1.6;
  height: 40em;
  /* border: 1px solid violet; */
}

.Nlayout #Nlayout-container {
  height: 100%;
  /* border: 1px solid green; */
}

.Nlayout #Nlayout-container #Ntitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 10%;
}

.Nlayout #Nlayout-container #Ntext-container {
  height: 60%;
  /* border: 1px solid purple; */
  display: flex;
}

.Nlayout #Nlayout-container #Ntext-container #Ntext-containerLeft,
#Ntext-containerRight {
  height: 100%;
  width: 50%;
  /* border: 1px solid blue; */
  /* padding: 1%; */
  position: relative;
}

.Nlayout #Nlayout-container #Ntext-container #Ltext1,
#Ltext2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  /* border: 1px solid blue; */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Nlayout #Nlayout-container #Nmodals-container {
  /* border: 1px solid violet; */
  height: 30%;
  display: flex;
  /* text-align: center; */
  /* padding-left: 25%; */
  /* padding-right: auto; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.Nlayout #Nlayout-container #Nmodals-container #modal-container0 {
  width: 30%;
  /* border: 1px solid black; */
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.Nlayout #Nlayout-container #Nmodals-container #modal-container1 {
  width: 30%;
  /* border: 1px solid black; */
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.Nlayout #Nlayout-container #Nmodals-container .open-button0{
  background-color: #1d3e8b;
  color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.Nlayout #Nlayout-container #Nmodals-container .open-button1{
  background-color: #1d3e8b;
  color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #1d3e8b;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1d3e8b;
  background-color: #1d3e8b;
  color: white;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body #image-modal-body {
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
